/*
 * vim: ft=less 
 */

@define-color border-color rgb(7, 7, 7);
@define-color bg rgb(58, 58, 58);
@define-color bg-hover rgb(68, 68, 68);
@define-color bg-focus rgba(68, 68, 68, 0);
@define-color bg-selected rgb(0, 128, 255);

.notification-row {
  outline: none;
}
.notification-row:focus {
  background: rgba(0, 0, 0, 0);
  /*background: @bg-focus;*/
}

.notification {
  /*border-radius: 10px;
  margin: 6px 12px;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.3);
  padding: 0;*/
  background: rgba(0,0,0,0);
}

.notification-content {

  border: solid;
  border-width: 1.3px;
  border-color: #000;
  box-shadow: inset 0px 1.2 #606167;
  background-color:  #1C1E26;
  padding: 0px 10px 0px 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 8;

  /*
  background: transparent;
  padding: 6px;
  border-radius: 10px;*/
}

.close-button {
  background: black;
  color: white;
  text-shadow: none;
  padding: 0;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.3);
}
.close-button:hover {
  background: rgb(30, 30, 30);
  transition: all 0.15s ease-in-out;
}

.notification-default-action,
.notification-action {
  background: rgba(0,0,0,0);
  padding: 4px;
}

.notification-default-action:hover,
.notification-action:hover {
  background: rgba(0,0,0,0);
  background: @bg-hover;
}

.notification-default-action {
  background: rgba(0,0,0,0);
  border-radius: 8px;
}

/* When alternative actions are visible */
.notification-default-action:not(:only-child) {
  background: rgba(0,0,0,0);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.notification-action {
  background: rgba(0,0,0,0);
  border-radius: 0px;
  border-top: none;
  border-right: none;
}

/* add bottom border radius to eliminate clipping */
.notification-action:first-child {
  background: rgba(0,0,0,0);
  border-bottom-left-radius: 8px;
}
.notification-action:last-child {
  background: rgba(0,0,0,0);
  border-bottom-right-radius: 8px;
  border-right: 1px solid @border-color;
}

.image {
}

.body-image {
  margin-top: 6px;
  background-color: white;
  border-radius: 8px;
}

.summary {
  color: white;
  text-shadow: none;
}

.time {
  color: white;
  text-shadow: none;
}

.body {
  background: rgba(0,0,0,0);
  color: white;
  text-shadow: none;
}

.top-action-title {
  color: white;
  text-shadow: none;
}

.control-center-clear-all {
  border: solid;
  border-width: 1.3px;
  border-color: #000;
  box-shadow: inset 0px 1.2 #606167;
  background-color:  #1C1E26;
  padding: 0px 10px 0px 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 8;

}
.control-center-clear-all:hover {
  background: @bg-hover;
}

.control-center-dnd {
  border-radius: 10px;
  background: @bg;
  border: 1px solid @border-color;
  box-shadow: none;
}

.control-center-dnd:checked {
  background: @bg-selected;
}
.control-center-dnd slider {
  background: @bg-hover;
}

.control-center {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 8 0 0 0;
  padding: 8;
  margin: 8;
}
.control-center-list {
  background: transparent;
  /*background: transparent;*/
}

.floating-notifications {
  background: transparent;
}
